/* 
    Document   : charte
    Created on : 22 oct. 2013, 15:33:28
    Author     : CNRS Dircom
    Description:
  Charte graphique commune pour tous les instituts.
*/

/*---------------------
       TYPOGRAPHIE 
 ----------------------*/


@font-face {
  font-family: "NimbusSansLReguCond";
  src: url('fonts/nimbuscondGNU/nimbuscondGNU.ttf');
}
@font-face {
  font-family: 'OpenSansLight';
  src: url('fonts/OpenSans/opensans_light_macroman/OpenSans-Light-webfont.eot');
  src: url('fonts/OpenSans/opensans_light_macroman/OpenSans-Light-webfont.eot?iefix') format('eot'), url('fonts/OpenSans/opensans_light_macroman/OpenSans-Light-webfont.woff') format('woff'), url('fonts/OpenSans/opensans_light_macroman/OpenSans-Light-webfont.ttf') format('truetype'), url('fonts/OpenSans/opensans_light_macroman/OpenSans-Light-webfont.svg#webfont') format('svg');
}
@font-face {
  font-family: 'OpenSansRegular';
  src: url('fonts/OpenSans/opensans_regular_macroman/OpenSans-Regular-webfont.eot');
  src: url('fonts/OpenSans/opensans_regular_macroman/OpenSans-Regular-webfont.eot?iefix') format('eot'), url('fonts/OpenSans/opensans_regular_macroman/OpenSans-Regular-webfont.woff') format('woff'), url('fonts/OpenSans/opensans_regular_macroman/OpenSans-Regular-webfont.ttf') format('truetype'), url('fonts/OpenSans/opensans_regular_macroman/OpenSans-Regular-webfont.svg#webfont') format('svg');
}
@font-face {
  font-family: 'OpenSansSemiBold';
  src: url('fonts/OpenSans/opensans_semibold_macroman/OpenSans-Semibold-webfont.eot');
  src: url('fonts/OpenSans/opensans_semibold_macroman/OpenSans-Semibold-webfont.eot?iefix') format('eot'), url('fonts/OpenSans/opensans_semibold_macroman/OpenSans-Semibold-webfont.woff') format('woff'), url('fonts/OpenSans/opensans_semibold_macroman/OpenSans-Semibold-webfont.ttf') format('truetype'), url('fonts/OpenSans/opensans_semibold_macroman/OpenSans-Semibold-webfont.svg#webfont') format('svg');
}
@font-face {
  font-family: 'OpenSansBold';
  src: url('fonts/OpenSans/opensans_bold_macroman/OpenSans-Bold-webfont.eot');
  src: url('fonts/OpenSans/opensans_bold_macroman/OpenSans-Bold-webfont.eot?iefix') format('eot'), url('fonts/OpenSans/opensans_bold_macroman/OpenSans-Bold-webfont.woff') format('woff'), url('fonts/OpenSans/opensans_bold_macroman/OpenSans-Bold-webfont.ttf') format('truetype'), url('fonts/OpenSans/opensans_bold_macroman/OpenSans-Bold-webfont.svg#webfont') format('svg');
}
@font-face {
  font-family: 'OpenSansExtraBold';
  src: url('fonts/OpenSans/opensans_extrabold_macroman/OpenSans-ExtraBold-webfont.eot');
  src: url('fonts/OpenSans/opensans_extrabold_macroman/OpenSans-ExtraBold-webfont.eot?iefix') format('eot'), url('fonts/OpenSans/opensans_extrabold_macroman/OpenSans-ExtraBold-webfont.woff') format('woff'), url('fonts/OpenSans/opensans_extrabold_macroman/OpenSans-ExtraBold-webfont.ttf') format('truetype'), url('fonts/OpenSans/opensans_extrabold_macroman/OpenSans-ExtraBold-webfont.svg#webfont') format('svg');
}
/*-----------------------------------------------------------------------------------------------
TOUTES PAGES
-----------------------------------------------------------------------------------------------*/

sub {
  font-size: 70%;
  vertical-align: sub;
}
sup {
  font-size: 70%;
  vertical-align: super;
}
abbr[title], acronym[title] {
  border-bottom: 1px dotted lightgrey;
  cursor: help;
}

a.ancre-sans-texte {
  color: #999;
}
a.ancre-sans-texte:hover {
  color: black;
  opacity: 1;
}

/* résumés articles */
.intro {
  padding-top: 1%;
}
/* Message de maintenance Cf. inc/inc-info-maintenance.html, à priori uniquement sur la home, mais peut être affiché ailleurs si besoin */
#texte #texte_gauche div.bloc-message {
  margin-bottom: 5%;
}
/*-----------------------------------------------------------------------------------------------
PAGE D'ACCUEIL
-----------------------------------------------------------------------------------------------*/

#pageune #texte_gauche h2, #pageune #texte_gauche h2 a {
  font-family: Arial Narrow, "NimbusSansLReguCond", Arial, Helvetica, sans-serif;
  letter-spacing: 0.05em;
  color: #fff;
  padding: 2% 1% 1% 1%;
}

#pageune #texte #texte_gauche h2, #pageune #texte #texte_gauche h2 a {
  display: inline-block;
  width: auto;
  *display:inline;
  *position:relative;
  *top:10px;
  *left:0;
}
#pageune #texte #texte_gauche div.bloc-message h2 {
  display: block;
  border-bottom: none;
}
div.actus {
  *position:relative
}
#pageune #texte div.resume p.date {
  font-size: 0.7em;
  padding-bottom: 1%;
}
#pageune #texte #texte_gauche div.actus h2 a {
  width: 122px;
}
#pageune #texte #texte_gauche div.resume.first {
  *margin-top:30px !important;
}
#pageune #texte div.actus h2.toutes-actus {
  font-size: 0.9em;
  padding-top: 1%;
  margin-top: 1%;
  *margin-top:0;
  float: right;
  border: solid 1px #999;
  *position:relative;
  *right:-400px;
  white-space: nowrap;
  text-align:center
}
#pageune #texte div.actus h2.toutes-actus a {
  *top:0px !important;
}
#texte div.resume h3 {
  font-size: 1.1em;
}
#texte div.alaune {
  background-color: #ddd;
  padding-bottom: 1%;
  margin-bottom: 2%;
}
#texte div.resume {
  margin: 2% 0;
  border-top: solid 1px #ccc;
}
#texte div.resume div.content {
  margin-top: 1%;
  padding-left: 1%;
}
#texte p, #texte div.resume p {
  font-size: 0.9em;
  color: #333;
  line-height: 1.35em;
  padding-bottom: 1%;
}
#pageune #texte p {
  padding-bottom: 0;
}
#texte div.resume p.suite a {
  font-size: 0.8em;
  font-weight: bold;
  color: #000;
}
#texte div.resume p.date {
  font-size: 0.8em;
}
#texte #texte_gauche div.resume span.vignette img {
  float: right;
  margin-left: 2%;
  margin-bottom: 1%;
}
body.p-article #texte #texte_gauche #documents_portfolio h2, body.p-article #texte #texte_gauche #documents_joints h2 {
  font-size: 1.2em;
  margin-top: 3%;
  margin-bottom: 2%;
}
/* sur SPIP 2 le modèle pour les documents joints /squelettes-dist/inc-documents.html utilise <ul> sans class "spip", non habillé ; repris ici les valeurs de spip.css:ul.spip de la charte 2 */
body.p-article.spip-2 #texte #texte_gauche #documents_joints ul {
  margin: 0 3% 1% 7%;
}
body.p-article.spip-2 #texte #texte_gauche #documents_joints ul li {
  list-style: square outside none;
  color: #333;
  font-size: 0.9em;
  line-height: 1.35em;
}
body.p-article.spip-2 #texte #texte_gauche #documents_joints ul li strong a {
  font-weight: bold;
  color: #555;
}
body.p-article #texte #texte_gauche span.vignette.entete img,
body.p-rubrique #texte #texte_gauche span.vignette.entete img {
  float: left;
  margin: 0 15px 9px 0;
}
h2 a.fil-rss-actus {
  font-size: 0.5em !important;
  font-weight: bold;
  color: #666;
}
h2 a.fil-rss-actus img {
  margin: 0 3px 0 0
}
a.fil-rss-actus {
  float: right;
  margin: 10px 0 10px 10px;
  width: 200px\9;
  text-align: right\9;
}
/* CAROUSEL*/
#pageune div#carrousel {
  position: relative;
  z-index: 0;
  background-color: #fff;
  margin-bottom: 5%;
}
div.nivo-caption {
  width: 98%;
  padding: 1%;
}
div.nivo-caption h3 {
  font-size: 1.4em;
  margin: 0 0 0.25em 0;
  padding: 0;
  color: #fff;
}
div.nivo-caption p {
  font-size: 0.9em;
  margin: 0;
  padding: 0;
  line-height: 1.2em;
  color: #fff !important;
}
/*-----------------------------------------------------------------------------------------------
PAGES SECONDES
-----------------------------------------------------------------------------------------------*/

#texte .chapeau p {
  font-weight: bold;
  margin-bottom: 2%;
  text-align: left !important;
}
p#chemin {
  padding-top: 20px;
  font-size: 0.8em;
  font-weight: bold;
  color: #666;
}
p#chemin a {
  font-weight: bold;
  color: #666;
}
div.precedent-suivant {
  margin-bottom: 1%;
}
div.precedent-suivant a {
  font-size: 0.8em;
  font-weight: bold;
  margin-right: 2%;
  color: #666;
}
div.precedent-suivant a.precedent {
  border-right: solid 1px #666;
  padding-right: 2%;
}
#pageseconde #texte_gauche img {
  max-width: 100%;
  width: auto\9;
  height: auto;
}
#pageseconde #texte_gauche h2 {
  font-size: 1.8em
}
#pageseconde #metas {
  width: 100%;
}

/*-----------------------------------------------------------------------------------------------
TABLEAUX
-----------------------------------------------------------------------------------------------*/


table.spip, table.spip th, table.spip td {
  border: solid 1px #ccc;
}
table.spip th, table.spip td {
  padding: 10px;
  font-size: 0.8em;
}
table.spip th {
  font-weight: bold;
  background: #888;
  color: #fff;
}
table.spip thead th {
  text-align: center;
}
table.spip td {
  color: #333;
  text-align: center;
}
table.spip .row_even td {
  background: #ddd;
}
table.spip caption {
  text-align: left;
  color: #666;
}




/*-----------------------------------------------------------------------------------------------
PAGES SPECIALES
-----------------------------------------------------------------------------------------------*/

/* PAGE NOUS CONTACTER / CONNEXION INTRANET (FORMULAIRES) */

div.formulaire_spip label,
div.formulaire_spip input[type="text"],
div.formulaire_spip input[type="password"],
div.formulaire_spip input[type="submit"],
div.formulaire_spip textarea,
div.formulaire_spip li {
  width: 100%;
}
div.formulaire_spip legend {
  display: block;
  padding-bottom: 2%;
  font-weight: bold;
  color: #333;
}
div.formulaire_spip ul {
  font-size: 0.75em;
}
div.formulaire_spip li {
  margin: 2% 0;
}
div.formulaire_spip label {
  font-weight: bold;
}
div.formulaire_spip div.choix input.checkbox, div.formulaire_spip div.choix label {
  width: auto !important;
}
div.formulaire_spip div.choix input.checkbox {
  float: left;
  margin-top: 0;
  margin-top: -2px\9;
}
ul.liste-liens li {
  margin: 1% 0;
  font-size: 0.8em;
  border-top: solid 1px #ddd;
  padding-top: 1%;
}
ul.liste-liens li a {
  font-weight: bold;
}
/* PAGE ANNUAIRE */	

body.p-rubrique-annuaire div#texte_gauche {
  width: 100%;
}
form#filtre_dynamique label {
  color: #666;
  font-size: 0.9em;
  font-weight: bold;
  margin-right: 0.5em;
}
table.demicol {
  float: left;
  width: 46%;
  margin-right: 2%;
  margin-top: 2%;
}
table.demicol td {
  border-top: solid 1px #ccc;
  padding-top: 1%;
}
table.demicol td a {
  width: 100%;
  font-weight: bold;
  color: #333;
}
/* PLAN DU SITE */

body.p-404 #plan h2 { /* titre "Plan du site" lorsqu'il est affiché en page 404 */
  margin-top: 20px;
  font-size: 1.4em !important;
}
#plan ul {
  margin: 0 0 0 3%;
  padding: 0;
}
#plan h3 {
  font-size: 1.1em;
  font-weight: bold;
  margin: 6% 0 3% 0;
  padding: 3% 0 0 1%;
  border-top: solid 5px #ccc;
}
#plan h3 a {
  font-weight: bold;
}
#plan ul li h3 {
  margin: 1% 0 0 0;
  padding: 0;
  border-top: solid 1px #ccc;
}
#plan div.type {
  background-color: #eee;
  border: 1px solid #ccc;
  margin: 2%;
  padding: 2%;
}
#plan h4 {
  font-size: 1em;
  font-weight: bold;
  margin: 1% 0;
}
#plan div.type h4 {
  color: #888;
  margin: 0 0 1.5% 0%;
}
#plan div.type ul li span.prefix {
  font-size: 0.8em;
  font-style: italic;
}
#plan #texte_gauche > ul.liste-rubriques > li > h5 {
  font-size: 1em;
}
#plan h5 {
  font-size: 0.9em;
  margin: 1.5% 0 1% 0;
}
#plan h5 a {
  font-weight: bold;
}
#plan li a {
  font-size: 0.8em;
}
/* PAGE CREDITS */

body.p-credits #texte h3 {
  font-weight: bold;
  margin: 2% 0 1% 0;
}
body.p-credits #texte h4 {
  font-weight: bold;
  font-size: 0.85em;
  color: #666;
}
/* PAGE JOUR (Séminaire sur SPIP3) */

body.p-jour.spip-3 div#texte_gauche h1, body.p-jour.spip-3 div#texte_gauche h2.agenda, body.p-jour.spip-3 div#texte_gauche h3 {
  display: none;
}
body.p-jour.spip-3 div#texte_gauche h3.resume {
  display: block;
}
body.p-jour.spip-3 div#texte_gauche ul.liste-items.evenements {
  margin-bottom: 5%;
}
body.p-jour.spip-3 div#texte_gauche ul.liste-items.evenements li.item {
  margin-bottom: 5%;
  background-color: transparent;
}
body.p-jour.spip-3 div#texte_gauche ul.liste-items.evenements li.item h3 {
  font-weight: bold;
  margin-bottom: 1%
}
body.p-jour.spip-3 div#texte_gauche ul.liste-items.evenements li h3 {
  font-size: 0.85em;
}
body.p-jour.spip-3 div#texte_gauche ul.liste-items.evenements div.renseignements {
  margin-bottom: 1%;
  border-bottom: solid 1px #ccc;
}
body.p-jour.spip-3 div#texte_gauche ul.liste-items.evenements div.renseignements p.notes {
  border: none !important;
  padding: 0;
  margin: 0;
}
body.p-jour.spip-3 div#texte_gauche ul.liste-items.evenements div.renseignements p.abstract.description strong, .p-jour ul.liste-items.evenements div.renseignements p.abstract.description a {
  margin: 0 !important;
  padding: 0 !important;
}
body.p-jour.spip-3 div#texte_gauche ul.liste-items.evenements div.vevent a {
  font-weight: bold;
  color: #666;
  font-size: 0.85em;
  margin: 2% 0;
}
body.p-jour.spip-3 div#texte_gauche header.resume-titre span.titre.summary {
  font-size: 1.25em;
  line-height: 1.5em;
}
body.p-jour.spip-3 div#texte_gauche li.item a {
  font-weight: bold;
  font-size: 0.8em;
}
body.p-jour.spip-3 div#texte_gauche div.formulaire_spip input, body.p-jour.spip-3 div#texte_gauche div.formulaire_spip label {
  width: auto !important
}
body.p-jour.spip-3 div#texte_gauche div.formulaire_spip fieldset legend {
  font-size: 0.85em;
  color: #666;
  padding-top: 2%;
}
/*PAGE EVENEMENT*/

body.p-evenement .cartouche h1.h1 {
  width: 100%;
  font-size: 1.6em;
  padding-bottom: 1%;
}
body.p-evenement div.vevent p.abstract.description {
  width: 100%;
  padding-top: 1%
}
body.p-evenement div.vevent span.titre.summary {
  display: none
}
body.p-evenement div#texte_gauche p a {
  font-weight: bold;
  color: #666;
}
/*PAGE RESULTATS DE MOTS CLES*/

body.p-mot div#mot-articles h2 {
  display: none;
}
/* PAGE CALENDRIER (Séminaire sur SPIP3) */

body.p-calendrier.spip-3 #pageseconde {
  background: none;
}
body.p-calendrier.spip-3 #texte_droite {
  display: none
}
body.p-calendrier.spip-3 div#texte_gauche {
  width: 100%;
}
body.p-calendrier.spip-3 div#seminaire {
  float: none!important;
  margin: 0!important;
  width: 99%!important;
  background-color: #fff !important;
  border: none !important;
}
body.p-calendrier.spip-3 div#seminaire h2 {
  background-color: transparent;
}
body.p-calendrier.spip-3 div#calendrier {
  margin: 0 0 2% 0;
}
body.p-calendrier.spip-3 #seminaire h2, body.p-calendrier.spip-3 #seminaire div.plier_deplier, body.p-calendrier.spip-3 #seminaire h3.agenda, body.p-calendrier.spip-3 #seminaire ul li, body.p-calendrier.spip-3 #seminaire ul ul, body.p-calendrier.spip-3 #seminaire ul ul li, body.p-calendrier.spip-3 #seminaire ul li div.vevent header.resume-titre, body.p-calendrier.spip-3 #seminaire ul li div.vevent header.resume-titre span, body.p-calendrier.spip-3 #seminaire ul li div.vevent div.renseignements {
  width: 100%;
}
body.p-calendrier.spip-3 #seminaire div.plier_deplier {
  margin-top: 1%;
  float: none !important;
}
body.p-calendrier.spip-3 #seminaire h3.agenda {
  margin: 2% 0;
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
}
body.p-calendrier.spip-3 #seminaire ul {
  width: 90%;
  margin: 0 5%;
}
body.p-calendrier.spip-3 #seminaire ul li h4 {
  font-size: 1em;
  font-weight: bold;
  background-color: #ddd;
  padding: 0 1%;
}
body.p-calendrier.spip-3 #seminaire ul li, body.p-calendrier.spip-3 #seminaire ul ul {
  margin: 0;
  padding: 0;
}
body.p-calendrier.spip-3 #seminaire ul ul li {
  margin: 1% 0;
  border-bottom: solid 1px #ccc;
}
body.p-calendrier.spip-3 #seminaire ul li div.vevent header.resume-titre span {
  margin: 0;
}
body.p-calendrier.spip-3 #seminaire span.lien_article a {
  font-weight: bold;
}
/* PAGE SITE WEB */

body.p-site .logo-url {
  margin: 4% 0;
}
body.p-site #syndic-articles h2 {
  margin-top: 0.7em;
  font-size: 1.5em !important;
}
body.p-site #syndic-articles .pagination {
  margin-top: 1em;
}

/* P_rubrique_portraits */

body.p-rubrique-portraits #texte #texte_gauche {
  width: 780px; /* pour être en pleine largeur sur la charte 2 */
}
body.p-rubrique-portraits #texte h2 {
  margin-bottom: 20px;
}
body.p-rubrique-portraits #texte div.resume {
  width: 240px;
  margin: 10px 20px 10px 0;
}
body.p-rubrique-portraits #texte div.resume div.titre {
  font-size: 0.8em;
  padding: 10px;
}
body.p-rubrique-portraits #texte div.resume a:hover div.titre {
  display:block;
  text-decoration:none;
}
