/*********************************************/
/*   Feuille de style du Kit Spip CNRS       */
/*   Styles globaux au Kit labos             */
/*   Auteur : CNRS Dircom                    */
/*********************************************/


/*--- COMMUN ---*/

#texte div.groupetitre h2 {
  margin-bottom: 0.4em;
}
#texte div.groupetitre #metas {
  color: grey !important;
  font-size: 0.8em;
  margin-bottom: 0.6em;
}
#texte div.groupetitre #metas a {
  text-decoration: none;
  font-weight: bold;
  color: grey;
}

a.ancre-sans-texte {
  margin-right: 0.3em;
}

.formulaire_spip fieldset ul li.erreur input,
.formulaire_spip fieldset ul li.erreur textarea {
  background-color: #FCC;
}
.formulaire_spip .erreur_message {
  color: red;
  margin-left: 1em;
}

/* http://www.alsacreations.com/astuce/lire/7-depassement-flottants-css.html */
.clear {
  clear: both;
  height: 0; overflow: hidden; /* Précaution pour IE 7 */
}


/* Message de maintenance Cf. inc/inc-info-maintenance.html, à priori uniquement sur la home, mais peut être affiché ailleurs si besoin */
#texte #texte_gauche div.bloc-message {
  background-color: #ddd;
}
#texte #texte_gauche div.bloc-message h2 {
  display:block;
  background-color:#456487;
  color:#fff;
  font-size:1.1em;
  text-indent:10px;
  padding:3px;
}
#texte #texte_gauche div.bloc-message .content {
  padding: 5px 10px;
  min-height: 72px;
}
#texte #texte_gauche div.bloc-message.en-travaux .content {
  background:#ddd url(../images/en-chantier.png) no-repeat 10px center;
  padding-left: 90px;
}
#texte #texte_gauche div.bloc-message.information .content {
  background:#ddd url(../images/information.png) no-repeat 10px center;
  padding-left: 90px;
}
#texte #texte_gauche div.bloc-message .content p {
  margin: 10px 0;
}
#texte #texte_gauche div.bloc-message .content p strong {
  color:#456487;
}

#texte-content > h3,
hr {
  clear: both;
}

code,
kbd,
.spip_code,
.spip_cadre {
  background-color: #eee;
  font-family: monospace !important;
  font-size: 1em;
  line-height: 1.2em;
  padding: 0.1em 0.15em;
  color: #333366;
}

kbd {
  background-color: #000;
  color: #f8f7f3;
}

.kitcnrs.spip_documents {
  min-width: 220px;
}
.spip_documents_center {
  margin: 1.5em 0;
  width: 100%;
  display: block;
  text-align: center;
}
.spip_documents_center ul {
  text-align : left;
}
.kitcnrs.spip_documents_center {
  margin-left: auto !important;
  margin-right: auto !important;
}
.spip_documents_left {
  float: left;
  margin: 5px 15px 7px 0;
}
.kitcnrs.spip_documents_left {
  margin-right: 1.7em;
  margin-bottom: 1.3em;
}
.spip_documents_right {
  float: right;
  margin: 5px 0 7px 15px;
}
.kitcnrs.spip_documents_right {
  margin-left: 1.7em;
  margin-bottom: 1.3em;
}
.kitcnrs.spip_documents .spip_doc_image {
  line-height: 0;
  text-align: center;
}
body.spip-2 .spip_documents img:not([src^="prive/vignettes/"]),
body.spip-3 .spip_documents img:not([src^="plugins-dist/medias/prive/vignettes/"]) {
  border: 1px solid #808080;
  /* pour ne pas agrandir de 2 pixels, le conteneur ayant en dur la largeur de l'image */  
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  /* ombre portée */
  box-shadow: 1px 2px 4px 1px rgba(170, 170, 170, 0.75);
  -moz-box-shadow: 1px 2px 4px 1px rgba(170, 170, 170, 0.75);
  -webkit-box-shadow: 1px 2px 4px 1px rgba(170, 170, 170, 0.75);
}
/* Si vous voulez supprimer l'affichage avec ombre portée des images contenues dans un article, copiez-collez ce code CSS dans votre fichier de surcharge * /
body.spip-2 .spip_documents img:not([src^="prive/vignettes/"]),
body.spip-3 .spip_documents img:not([src^="plugins-dist/medias/prive/vignettes/"]) {
  border: none;
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
*/
.kitcnrs.spip_documents .spip_doc_legende {
  background-color: #ddd;
  padding: 5px 5px 2px 5px;
  font-size: 0.75em;
  line-height: 1.2em;
  color: #333;
}
.kitcnrs.spip_documents .spip_doc_titre {
  margin-bottom: 3px;
  font-weight: bold;
  color: #000;
}
.kitcnrs.spip_documents .spip_doc_descriptif {
  margin-top: 3px;
  margin-bottom: 3px;
}
.kitcnrs.spip_documents .spip_doc_credits {
  margin-top: 3px;
  margin-bottom: 3px;
  font-weight:bold;
  font-size: 0.8em;
}

/* Portfolio */
#documents_portfolio,
#documents_joints {
  margin: 3% 0;
}
body.spip-3 #documents_portfolio ul {
  padding-left: 0;
  margin: 1em 0;
}
body.spip-3 #documents_portfolio li {
  display: inline;
  list-style-type: none;
}


/* Navigation */
#nav-art-bas, #nav-rub-bas, #nav-site-bas {
  clear: both;
}
/* liste d'articles de la rubrique affichés en bas de page ("Dans la même rubrique") : par défaut, l'article courant est masqué */
#nav-art-freres-bas-list li.active { display: none; }
/* mise en valeur de l'élément suivant l'élément actif, uniquement sur les listes d'articles du bas */
#nav-art-freres-bas-list li.after-active:before { content: '\25BA'; color: lightgrey; }

/* liste de sites web */
#sites {
  width: 550px;
  margin: 20px auto 0 auto;
}
#sites div.site {
  float: left;
  width: 170px;
  height:260px;
  overflow: hidden;
  margin: 0 13px 20px 0;
  background-color:#ddd;
}
#sites div.logo {
  height: 170px;
  width: 170px;
  display: table-cell;
  vertical-align: bottom;
  text-align: center;
  border:solid 1px #ddd;
  background-color:#fff;

}
#sites div.logo img {
  max-width: 165px;
  height: auto;
  border: 0;
}

#sites .url a, #sites .titre a {
  font-size:11px;
  text-decoration:none;
  line-height:12px;
  display:block;
  padding:5px;
  color:#000;

}
#sites .titre a {
  font-weight:bold;
  border-top:solid 1px #999;
  padding-top:3px;
}


/* listes de résumés */

div.liste-resumes {
  clear: left;
}
div.resume {
  clear: both;
}


/*--- HOME ---*/

/* Modif valeur fixée dans le plugin calendriermini/v2.3.5/css/minical.css height: 17em; */
.calendriermini .calendar-container {
  height: auto !important;
}


/*--- MOTS-CLES ---*/

/* avec affichage des titres des groupes de mots-clés */

.groupes-mots {
padding: 0.5em 0;
border-top: 1px solid #CCC;
font-size:1.1em;
line-height:1.5em;
}
.groupes-mots > .title {
font-weight: bold;
 margin-bottom: 0.5em;
}
.groupe-mots > .title, .mots-cles {
  display: inline;
}
.groupe-mots > .title:after {
  content: ':';
}
html[lang=fr] .groupe-mots > .title:after {
  content: ' :';
}
.mot-cle:after {
  content: ' | ';
}
.mot-cle.last:after {
  content: '';
}



body.p-mot span.titre-groupe-mots:after {
  content: ':\0020';
}
html[lang=fr] body.p-mot span.titre-groupe-mots:after {
  content: '\00a0:\0020';
}


/*--- SITE ---*/

body.p-site .logo-url {
  text-align: center;
}
body.p-site .logo-url .url {
  margin: 0.5em 0;
}
body.p-site .logo-url .url a {
  font-size: 1.05em;
  font-weight: bold;
  text-decoration: none;
}
body.p-site #syndic-articles li h3 {
  margin: 1em 0 0.5em 0;
}


/* --- PAGE RUBRIQUE --- */

body.p-rubrique-portraits #texte div.resume {
  display: inline-block;
  float: left;
  clear: none;
  border-top-style: none;
}
body.p-rubrique-portraits #texte div.resume div.titre {
  height: 20px;
  overflow: hidden;
  font-weight: bold;
  background-color: #7aaec8;
  color: white;
}
body.p-rubrique-portraits #texte div.resume a:hover div.titre {
  color: black;
}
body.p-rubrique-portraits #texte div.resume div.vignette img {
  vertical-align: bottom;
}

