/* 
    Document   : institut-autres
    Created on : 22 oct. 2013, 15:33:28
    Author     : CNRS Dircom
    Description: charte graphique pour les autres instituts.
*/

#top, #titre-site {
	background: #00294b; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iIzAwMjk0YiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iIzQwNzVhMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDI5NGIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #00294b 1%, #4075a1 51%, #00294b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #00294b), color-stop(51%, #4075a1), color-stop(100%, #00294b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #00294b 1%, #4075a1 51%, #00294b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #00294b 1%, #4075a1 51%, #00294b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #00294b 1%, #4075a1 51%, #00294b 100%); /* IE10+ */
	background: linear-gradient(to bottom, #00294b 1%, #4075a1 51%, #00294b 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00294b', endColorstr='#00294b', GradientType=0 ); /* IE6-8 */
}

#menu ul.level1,
#menu > ul.menu-liste  /* plugin Menus */
{
	background: #00294b; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMjk0YiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0MDc1YTEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(left,  #00294b 0%, #4075a1 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#00294b), color-stop(100%,#4075a1)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  #00294b 0%,#4075a1 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  #00294b 0%,#4075a1 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  #00294b 0%,#4075a1 100%); /* IE10+ */
background: linear-gradient(to right,  #00294b 0%,#4075a1 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00294b', endColorstr='#4075a1',GradientType=1 ); /* IE6-8 */
}

#pageune #texte #texte_gauche div.actus h2.toutes-actus,
#pageune #texte #texte_gauche div.actus h2.toutes-actus a,
#menu ul.level1 ul,
#menu > ul.menu-liste ul.menu-liste  /* plugin Menus */
{
	background-color:#4075a1;
}

#pied-de-page, #pageune #texte_gauche h2, #pageune #texte_gauche h2 a, #texte_droite h2, #texte_droite h2, div.nivo-caption {
	background-color:#00294b;
}
#nom-labo h1 a, #slogan {
	color:#00294b;
}
 #menu_lang li strong, #menu_lang li a, #menu_lang li a strong {
	color:#4075a1;
}
body.avec-bandeau-statique #bandeau a {
	background: url(img/autres/baniere.jpg) no-repeat top left;
}
#texte div.alaune, #texte div.actus {
border-top:solid 2px #00294b
}

#texte_droite nav {
 background:#c8dbea;
 }
