	/*
	// Project:    Web Reference Database (refbase) <http://www.refbase.net>
	// Copyright:  Matthias Steffens <mailto:refbase@extracts.de> and the file's
	//             original author(s).
	//
	//             This code is distributed in the hope that it will be useful,
	//             but WITHOUT ANY WARRANTY. Please see the GNU General Public
	//             License for more details.
	//
	// File:       ./css/style.css
	// Repository: $HeadURL$
	// Author(s):  Matthias Steffens <mailto:refbase@extracts.de>
	//
	// Created:    20-Oct-02, 15:08
	// Modified:   $Date$
	//             $Author$
	//             $Revision$
	*/

	/* refbase CSS definitions - default style */


.refbasecss pre, .refbasecss code {
	font-family: monaco,courier,monospace;
	font-size: 7pt;
}

.refbasecss .smaller {
	font-size: 0.7em;
}

.refbasecss .small {
	font-size: 0.7em;
}

.refbasecss .smallup {
	font-size: 0.85em;
	position: relative;
	top: -10px;
}

.refbasecss .moveup {
	position: relative;
	top: -8px;
}

.refbasecss .unapi {
	font-size: smaller;
}

.refbasecss .Z3988 {
	font-size: smaller;
}

.refbasecss .ok {
	color: #009900;
}

.refbasecss .warning {
	color: red;
}

.refbasecss .warning2 {
	color: red;
	font-family: "lucida grande",helvetica,arial,sans-serif;
	font-size: 0.75em;
}

.refbasecss .mainfieldsbg {
	background-color: #E6E6E6;
}

.refbasecss .otherfieldsbg {
	background-color: #FFFFFF;
}

.refbasecss .userfieldsbg {
	background-color: #FFFFCC;
}

.refbasecss th {
	font-family: "lucida grande",helvetica,arial,sans-serif;
	font-size: 0.9em;
}

.refbasecss td, .refbasecss div {
	font-family: "lucida grande",helvetica,arial,sans-serif;
	font-size: 0.8em;
}

.refbasecss p {
	font-family: "lucida grande",helvetica,arial,sans-serif;
	font-size: 0.8em;
}

.refbasecss .showhide > a, .refbasecss .showhide > a:hover, .refbasecss .showhide > a:focus, .refbasecss .showhide > a:active {
	background: none; 
	text-decoration: none;
}

.refbasecss h1, .refbasecss h2, .refbasecss h3, .refbasecss h4 {
	font-family: "lucida grande",helvetica,arial,sans-serif;
	font-weight:bold;
	color: #990000;
}

.refbasecss h5, .refbasecss h6 {
	font-family: "lucida grande",helvetica,arial,sans-serif;
}

.refbasecss h2, .refbasecss h3 {
	margin-top: 1em;
	margin-bottom: 0.5em;
}

.refbasecss h2 {
	font-size: 1.8em;
}

.refbasecss h3 {
	font-size: 1.35em;
}

.refbasecss h4, .refbasecss h5 {
	margin-top: 0em;
	margin-bottom: 0em;
}

.refbasecss h4 {
	font-size: 1.25em;
}

.refbasecss h5 {
	font-size: 1.1em;
}

.refbasecss .pageheader {
	
}

.refbasecss .pagefooter {
	
}

.refbasecss .results {
	
}

.refbasecss hr.results {
	width: 100%;
	background-color: #DEDEDE;
	height: 1px;
	border: 0;
}

.refbasecss div.resultsheader {
	margin: 1.2em 3.3em 0.9em 3.3em;
}

.refbasecss hr.resultsheader, .refbasecss hr.resultsfooter {
	width: 93%;
	background-color: #DEDEDE;
	height: 1px;
	border: 0;
}

.refbasecss div.resultsfooter {
	margin: 1.2em 3.3em 0.9em 3.3em;
}

.refbasecss .showhide {
	
}

.refbasecss #loginInfo {
	font-size: 1em;
}

.refbasecss #loginInfo > * {
	margin-top: 0.4em;
	font-size: 1em;
}

.refbasecss .suggestProgress {
	position: absolute;
	margin-top: 3px;
	margin-left: -25px;
}

.refbasecss .searchSuggestions {
	background-color: #FFFFFF;
	border: 1px solid #999999;
	margin-left: -1px;
	z-index: 1;
	text-align: left;
	font-size: 1em;
}

.refbasecss .searchSuggestions ul {
	margin: 0 0 0 -40px;
	list-style-type: none;
	font-size: 1em;
	line-height: 1.3em;
}

.refbasecss .searchSuggestions li {
	border-top: 1px solid #999999;
	padding: 0.15em 0 0.15em 0.5em;
}

.refbasecss .searchSuggestions .selected {
	background-color: #DDDDDD;
}

.refbasecss form[name="record"] .searchSuggestions, .refbasecss form[name="record"] .suggestProgress {
	font-size: 0.85em;
}

.refbasecss form[name="show"] .searchSuggestions, .refbasecss form[name="show"] .suggestProgress {
	font-size: 0.85em;
}

.refbasecss form[name="simpleSearch"] .searchSuggestions, .refbasecss form[name="simpleSearch"] .suggestProgress {
	font-size: 0.85em;
}

.refbasecss #refineresults .searchSuggestions, .refbasecss #refineresults .suggestProgress {
	font-size: 0.85em;
}

.refbasecss #queryrefs {
	margin-top: 1.3em;
	margin-bottom: -2em;
	margin-right: -11px;
	font-size: 1em;
}

.refbasecss #queryrefs fieldset {
	border: none;
}

.refbasecss #queryrefs legend, .refbasecss #queryrefs #queryField label {
	display: none;
}

.refbasecss #queryrefs #queryField, .refbasecss #queryrefs #querySubmit {
	display: inline;
	font-size: 1em;
}

.refbasecss #userlogin, .refbasecss #userlogin .boxBody {
	margin-bottom: -1.1em;
	font-size: 1em;
}

.refbasecss #userlogin fieldset {
	border: none;
}

.refbasecss #userlogin legend {
	display: none;
}

.refbasecss #userlogin #loginUser, .refbasecss #userlogin #loginPwd {
	text-align: right;
	font-size: 1em;
}

.refbasecss #userlogin #loginUserLabel {
	display: inline;
	position: relative;
	left: -2.4em;
	font-size: 1em;
}

.refbasecss #userlogin #loginUserLabel:lang(fr) {
	left: -4.0em;
}

.refbasecss #userlogin #loginUserLabel:lang(cn) {
	left: -1em;
}

.refbasecss #userlogin #loginPwdLabel {
	display: inline;
	position: relative;
	left: -0.35em;
	font-size: 1em;
}

.refbasecss #userlogin #loginPwdLabel:lang(de) {
	left: -0.7em;
}

.refbasecss #userlogin #loginPwdLabel:lang(fr) {
	left: 0em;
}

.refbasecss #userlogin #loginPwdLabel:lang(cn) {
	left: -1.5em;
}

.refbasecss #userlogin #loginUserInput, .refbasecss #userlogin #loginPwdInput {
	display: inline;
}

.refbasecss #userlogin #loginEmail:lang(fr), .refbasecss #userlogin #loginPassword:lang(fr) {
	width: 7.7em;
}

.refbasecss #userlogin #loginEmail:lang(cn), .refbasecss #userlogin #loginPassword:lang(cn) {
	width: 11em;
}
.refbasecss #userlogin #loginSubmit input[type=submit] {
	margin-top: 0.6em;
}

.refbasecss #recentlinks {
	margin-left: -15px;
	font-size: 1em;
}

.refbasecss #includerefs {
	margin-left: -22px;
	font-size: 1.25em;
}

.refbasecss #includeprogress, #includerefs > a {
	margin-left: 30px;
	font-size: 0.8em;
}

.refbasecss #includeprogress > img {
	position: relative;
	top: 3px;
	left: 5px;
}

.refbasecss #showgroupmain {
	margin-bottom: 1.25em;
	font-size: 1em;
}

.refbasecss #showgroupmain fieldset {
	border: none;
}

.refbasecss #showgroupmain legend, .refbasecss #showgroupmain #groupSelect label {
	display: none;
}

.refbasecss #showgroupmain #groupSubmit input[type=submit] {
	margin-top: 0.6em;
}

.refbasecss #recallquerymain {
	margin-top: -0.9em;
	font-size: 1em;
}

.refbasecss #recallquerymain fieldset {
	border: none;
}

.refbasecss #recallquerymain legend, .refbasecss #recallquerymain #recallSelect label {
	display: none;
}

.refbasecss #recallquerymain #recallSubmit input[type=submit] {
	margin-top: 0.6em;
}

.refbasecss #resultoptions {
	margin-left: 20px;
	text-align: center;
	font-size: 1em;
}

.refbasecss #resultoptions legend {
	color: #000000;
	font-style: italic;
	text-align: left;
}

.refbasecss #resultoptions label {
	margin-left: 0.15em;
}

.refbasecss #resultoptions form {
	display: inline;
}

.refbasecss #resultoptions fieldset {
	display: inline;
	border: none;
	text-align: left;
}

.refbasecss #showgroup {
	display: inline;
	margin-right: 1.1em;
	font-size: 1em;
}

.refbasecss #showgroup #groupSelect {
	font-size: 1em;
}

.refbasecss #showgroup #groupSubmit {
	margin-top: 0.25em;
	font-size: 1em;
}

.refbasecss #showgroup #groupSelect label, .refbasecss #refineresults #refineField label, .refbasecss #displayopt #optShowHideField label {
	display: none;
}

.refbasecss #refineresults {
	display: inline;
	font-size: 1em;
}

.refbasecss #refineresults #refineField {
	display: block;
	margin-bottom: 0.25em;
	font-size: 1em;
}

.refbasecss #refineresults form[action="search.php"] #refineField:lang(en) {
	width: 16.7em;
}

.refbasecss #refineresults form[action="search.php"] #refineField:lang(de), .refbasecss #refineresults form[action="search.php"] #refineField:lang(fr) {
	width: 20.2em;
}

.refbasecss #refineresults form[action="search.php"] #refineField:lang(cn) {
	width: 14.1em;
}

.refbasecss #refineresults #refineOpt, .refbasecss #refineresults #refineSubmit {
	display: inline;
	font-size: 1em;
}

.refbasecss #displayopt {
	display: inline;
	margin-left: 1.1em;
	font-size: 1em;
}

.refbasecss #displayopt #optMain {
	font-size: 1em;
}

.refbasecss #displayopt #optShowHideField, .refbasecss #displayopt #optCiteStyle, .refbasecss #displayopt #optSubmit {
	display: inline;
	font-size: 1em;
}

.refbasecss #displayopt #optOther {
	margin-top: 0.25em;
	font-size: 1em;
}

.refbasecss #displayopt #optCiteOrder, .refbasecss #displayopt #optRecsPerPage {
	display: inline;
	font-size: 1em;
}

.refbasecss #displayopt #optCiteOrder {
	margin-right: 0.4em;
}

.refbasecss .resultnav {
	
}

.refbasecss .mainnav {
	
}

.refbasecss .pagenav {
	
}

.refbasecss .viewnav {
	font-size: 0.75em;
}

.refbasecss #columns {
	position: relative;
	left: 4px;
}

.refbasecss #details {
	position: relative;
	left: 4px;
}

.refbasecss #citations {
	width:100%;
}

.refbasecss .citation {
	
}

.refbasecss .citation .showhide {
	margin-top: 0.4em;
}

.refbasecss .citation .moreinfo {
	margin-left: 0.5em;
	font-size: 1em;
}

.refbasecss .citation .moreinfo > * {
	margin-bottom: 0.4em;
	font-size: 0.85em;
	color: #333333;
	line-height: 1.3em;
/*
	max-width: 700px;
*/
}

.refbasecss .citation .moreinfo .reflinks {
	margin-top: 0.8em;
/*
	max-width: none;
*/
}

.refbasecss .citation .moreinfo .reflinks > * {
	display: inline;
	font-size: 1em;
}

.refbasecss #error {
	
}

.refbasecss #queryhistory {
	margin-left: 2.6em;
	margin-right: 2.6em;
	margin-bottom: 1.75em;
}

.refbasecss #currentquery, .refbasecss #previousqueries {
	margin-top: 1.2em;
	font-size: 1em;
}

.refbasecss #queryhistory .even, .refbasecss #queryhistory .odd {
	margin-top: 0.25em;
	margin-left: 1.2em;
	margin-right: 1.2em;
	font-size: 1em;
}

.refbasecss .examples {
	font-size: 1em;
}

.refbasecss .links {
	
}

.refbasecss .sect {
	padding-top: 2px;
	font-size: 1em;
}

.refbasecss .even {
	background-color: #FFFFFF;
	padding: 5px;
}

.refbasecss .odd {
	background-color: #E4E4E4;
	padding: 5px;
}

.refbasecss #queryform {
	
}

.refbasecss #resultactions {
	margin-left: 20px;
	text-align: center;
	font-size: 1em;
}

.refbasecss #resultactions input, .refbasecss #resultactions select {
	margin-left: 0.5em;
}

.refbasecss #resultactions legend {
	color: #000000;
	font-style: italic;
	text-align: left;
}

.refbasecss #resultactions label {
	margin-left: 0.15em;
}

.refbasecss #resultactions fieldset {
	display: inline;
	margin-left: 1.5em;
	border: none;
	vertical-align: top;
	text-align: left;
}

.refbasecss #selectresults {
	margin-bottom: 0.75em;
	font-size: 1em;
	text-align: left;
}

.refbasecss #selectresults input#selRecs {
	margin-left: 1.5em;
}

.refbasecss #citerefs {
	font-size: 1em;
}

.refbasecss #citerefs input[type=submit], .refbasecss #exportrefs input[type=submit] {
	display: block;
	margin-top: 0.6em;
	margin-left: 0.25em;
}

.refbasecss #citerefs label, .refbasecss #exportrefs label {
	display: none;
}

.refbasecss #citerefs select, .refbasecss #exportrefs select {
	margin-left: 0.25em;
}

.refbasecss #grouprefs {
	font-size: 1em;
}

.refbasecss #grouprefs #myGroup {
	display: block;
	margin-bottom: 0.25em;
	font-size: 1em;
}

.refbasecss #grouprefs #newGroup, .refbasecss #grouprefs #addRemoveGroup {
	display: inline;
	font-size: 1em;
}

.refbasecss #exportrefs {
	font-size: 1em;
}

.refbasecss #searchopt {
	display: none;
}

.refbasecss #helptxt {
	display: none;
}

.refbasecss #helptxt .even {
	margin-left: -5px;
	margin-top: -3px;
}

.refbasecss #helptxt .odd {
	margin-left: -5px;
}

.refbasecss .toggleimg {
	
}

.refbasecss .toggletxt {
	display: inline;
	margin-left: 5px;
	font-size: 1em;
}

.refbasecss a:link .toggletxt {
	color: #000000;
}

.refbasecss a:visited .toggletxt {
	color: #000000;
}

.refbasecss a:hover .toggletxt {
	color: #3366FF;
}

.refbasecss .resultviews {
	display: inline;
	font-size: 0.85em;
}

.refbasecss .activeview {
	display: inline;
	font-size: 1em;
}

.refbasecss .leftview {
	display: inline;
	font-size: 1em;
}

.refbasecss .middleview {
	display: inline;
	font-size: 1em;
}

.refbasecss .rightview {
	display: inline;
	font-size: 1em;
}

.refbasecss .toggleprint {
	position: relative;
	top: 3px;
}

.refbasecss #accountinfo {
	font-size: 1.25em;
}

.refbasecss #accountdetails {
	font-size: 1em;
}

.refbasecss #accountopt {
	font-size: 1em;
}

.refbasecss #accountperm {
	font-size: 1em;
}

.refbasecss #accountdetails ul, .refbasecss #accountopt ul, .refbasecss #accountperm ul {
	position: relative;
	top: -0.8em;
	list-style-type: none;
	font-size: 0.85em;
	line-height: 1.3em;
}

/* Begin ThrashBox code (modified slightly for use with refbase)
   Credit: Simple Rounded Corner CSS Boxes by Ryan Thrash
   see <http://www.modxcms.com/simple-rounded-corner-css-boxes.html>
   and the ThrashBox online generator <http://www.spiffybox.com/>
*/
/* set the image to use and establish the lower-right position */
.refbasecss .box, .refbasecss .boxBody, .refbasecss .boxHead, .refbasecss .boxHead h3 {
	background: transparent url(../img/rounded_box.png) no-repeat bottom right;
}
.refbasecss .box {
	/* intended total box width - padding-right(next) */
/*	width: 200px !important; */
	/* IE Win = width - padding */
/*	width: 185px; */
	padding-right: 5px; /* the gap on the right edge of the image (not content padding) */
	margin: 0 auto; /* use to position the box */
}

/* set the top-right image */
.refbasecss .boxHead {
	background-position: top right; margin-right: -5px; /* pull the right image over on top of border */
	padding-right: 15px; /* right-image-gap + right-inside padding */
}

/* set the top-left image */
.refbasecss .boxHead h3 {
	background-position: top left;
	margin: 0; /* reset main site styles*/
	border: 0; /* ditto */
	padding: 10px 0 10px 15px; /* padding-left = image gap + interior padding ... no padding-right */
	height: auto !important; height: 1%; /* IE Holly Hack */
}

/* set the lower-left corner image */
.refbasecss .boxBody {
	background-position: bottom left;
	margin-right: 0; /* interior-padding right */
	padding: 0 0 1px 5px; /* mirror .boxHead right/left */
}

/* font styling */
.refbasecss .boxHead h3 {
	color: #222222;
}
/* End ThrashBox code */
